@use '../../styles/mixins.scss' as *;
@use '../../styles/values.scss' as *;

.setting__page__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  animation: showSettingPage 1s ease;
  color: $dark-emphasize-font-color;

  @keyframes showSettingPage {
    from {
      transform: translateX(100%);
    }
  }

  &.light {
    background-color: $light-background-color;
  }
}
