@use '../../styles/values' as *;
@use '../../styles/mixins' as *;
@use '../../styles/mediaQuery' as *;

.settingbar__header {
  @include headerSetting;

  .settingbar__buttons {
    @include headerButtons;

    .settingbar__back__navBtn {
      @include headerNavigationButtons(left);
    }
    @include mobile {
      .settingbar__back__navBtn {
        .nav__accountbook__btn {
          display: none;
        }
        .fas.fa-arrow-left {
          font-size: 1rem;
        }
      }
    }
  }
  @include mobile {
    .settingbar__buttons {
      gap: 1em;
    }
  }
}
