.acbook__list__container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  animation: showPage 1s ease;

  @keyframes showPage {
    from {
      transform: translateX(-100%);
    }
  }
}
