.csv__setting__container {
  color: white;
  display: flex;
  justify-content: space-evenly;

  .csv__export {
    background: transparent;
    color: white;
    border: 1px 0 0 10px #219cf3 solid;
    box-shadow: none;
    border-radius: 16px;
    padding: 16px;
    overflow: visible;
    cursor: pointer;
    text-shadow: 0 0 10px #219cf3, 0 0 10px #219cf3;
  }

  .csv__import {
    background: transparent;
    color: white;
    border: 1px 0 0 10px #219cf3 solid;
    box-shadow: none;
    border-radius: 16px;
    padding: 16px;
    overflow: visible;
    cursor: pointer;
    text-shadow: 0 0 10px #219cf3, 0 0 10px #219cf3;
  }
}
