@use '../../../../styles/values.scss' as *;

.acbook__filter__container {
  width: 100%;
  height: 25%;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  &.light {
    background-color: white;
  }
  .acbook__list__inoutFilter {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    gap: 5em;

    label {
      width: 20vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      span {
        width: 100%;
        padding: 10px 15px;
        height: 50px;
        line-height: 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:first-child {
        input:checked + span {
          background-color: $income-color;
          color: $dark-emphasize-font-color;
        }
        span {
          border: 1px solid $income-color;
          color: $income-color;
        }
      }
      &:last-child {
        input:checked + span {
          background-color: $spending-color;
          color: $dark-emphasize-font-color;
        }
        span {
          border: 1px solid $spending-color;
          color: $spending-color;
        }
      }
    }

    input {
      display: none;
    }
    div {
      input,
      label {
        cursor: pointer;
      }
    }
  }
  .acbook__list__categoryFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    margin: 15px 15px;

    .category__title {
      &.light {
        color: black;
      }
    }

    input {
      display: none;
    }

    input:checked + span,
    input:hover + span {
      padding: 3px;
      border-bottom: 2px solid $transaction-category-hover-color;
      color: $transaction-category-hover-color;
    }

    label {
      cursor: pointer;
    }
    span {
      color: $dark-general-font-color;
      font-size: 1em;
      padding: 3px;
      margin: 0 10px 0 10px;
    }
  }
}
