.container {
  width: 100%;

  .inoutFilter {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      width: 20vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      span {
        width: 100%;
        padding: 10px 15px;
        height: 50px;
        line-height: 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:first-child {
        input:checked + span {
          background-color: #54aafc;
          color: white;
        }
        span {
          border: 3px solid #54aafc;
          color: #54aafc;
        }
      }
      &:last-child {
        input:checked + span {
          background-color: #ee4337;
          color: white;
        }
        span {
          border: 3px solid #ee4337;
          color: #ee4337;
        }
      }
    }

    input {
      display: none;
    }
    div {
      input,
      label {
        cursor: pointer;
      }
    }
  }
  .categoryFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    margin: 15px 15px;

    input {
      display: none;
    }

    input:checked + span {
      padding: 3px;
      border-bottom: 2px solid lightseagreen;
      color: lightseagreen;
    }

    label {
      cursor: pointer;
    }
    span {
      color: white;
      font-size: 20px;
      padding: 3px;
      margin: 0 10px 0 10px;
    }
  }
}
