@use '../../../styles/values' as *;
.create__acbook {
  position: relative;
  background-color: #f9e000;
  width: 333px;
  min-height: 195px;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 2em 1em;
  // transition-duration: 0.3s;
  animation: cardShow 1s backwards;

  .fas.fa-minus-circle {
    position: absolute;
    right: 0.5em;
    top: 1em;
    font-size: 1.4em;
    color: $spending-color;
    cursor: pointer;
  }
  .input__name {
    position: absolute;
    top: 1.3em;
    height: 2em;
    width: 260px;
    text-decoration: none;
    margin: 5px;
  }

  .input__code {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2em;
    width: 260px;
    text-decoration: none;
    margin: 5px;
  }

  .input__description {
    position: absolute;
    top: 5em;
    height: 5em;
    width: 260px;
    margin: 5px;
    resize: none;
  }

  @keyframes cardShow {
    from {
      opacity: 0;
      transform: translateX(300px);
    }

    to {
      opacity: 1;
    }
  }
}
