.delete__button {
  z-index: 1;
  transform: translate(80px, -60px);
  animation: cardShow 0.5s;
}

.acbook {
  background-color: #f9e000;
  height: 200px;
  width: 340px;
  margin: 20px 0px 20px 0px;
  border: 1px solid transparent;
  border-radius: 15px;
  padding: 16px;
  transition-duration: 0.3s;
  transform: translateX(20%);
  color: black;
  cursor: pointer;

  &:hover {
    transform: translateX(5%);
    transition-duration: 0.3s;
    transition-timing-function: ease, ease;
  }

  @keyframes cardShow {
    from {
      opacity: 0;
      transform: translateX(300px);
    }

    to {
      opacity: 1;
      transform: 0;
    }
  }
}
