.calendar__wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

  animation: showDetail 1s ease;

  @keyframes showDetail {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}
