@use '../../../styles/values' as *;

@mixin noSelectedButton($category) {
  width: 15em;
  padding: 0.7em 0;
  border: none;

  font-size: 1.2em;
  @if $category == category {
    border-radius: 6px 0 0 6px;
  } @else {
    border-radius: 0 6px 6px 0;
  }
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
  color: white;
  box-shadow: $noSelectedBoxShadow;
  cursor: pointer;
}

@mixin selectedButton {
  &.selected {
    background-color: #222;
    box-shadow: $selectedBoxShadow;
    text-shadow: $selectedTextShadow;
    color: white;
  }
}

.nav__buttons {
  margin-top: 3em;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;

  .category {
    @include noSelectedButton(category);
    @include selectedButton;
  }

  .date {
    @include noSelectedButton(date);
    @include selectedButton;
  }
}
