@use '../../../../styles/values' as *;
@use '../../../../styles/mixins' as *;
@use '../../../../styles/mediaQuery' as *;

@mixin navigationButton($type) {
  @include headerNavigationButtons($type);
  .fas.fa-arrow-left {
    &.light {
      text-shadow: none;
      color: $light-font-color;
    }
  }
  .navigation__content {
    &.light {
      text-shadow: none;
      color: $light-font-color;
    }
  }
  .fas.fa-arrow-right {
    &.light {
      text-shadow: none;
      color: $light-font-color;
    }
  }

  @include mobile {
    .navigation__content {
      display: none;
    }
    .fas.fa-arrow-right {
      right: 5%;
    }
  }
}

.menubar__buttons {
  @include headerButtons;
  .back__navBtn {
    @include navigationButton(left);
  }
  .setting__navBtn {
    @include navigationButton(right);
  }
  @include mobile {
    .back__navBtn,
    .setting__navBtn {
      font-size: 1rem;
    }
  }
}
@include mobile {
  .menubar__buttons {
    gap: 2em;
  }
}
