@use '../../../styles/values.scss' as *;
@use '../../../styles/mixins.scss' as *;
.calendar__setting__container {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;

  gap: 3em;

  .calendar__setting__startday {
    position: relative;
    width: 55%;
    height: 40%;
    border: 1px solid #979797;
    border-radius: 6px;
    background-color: transparent;

    .calendar__setting__title {
      text-align: center;
      line-height: 3.5em;
      font-size: 2em;
      text-shadow: $selectedTextShadow;
    }

    .start__day__title {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 1.5em;
      margin-top: 3em;
      th {
        color: $white;

        margin-left: 10px;
        &.sunday {
          color: $spending-color;
        }

        &::before {
          content: '|';
          padding: 0 1em;
        }
        &:first-child::before {
          content: none;
        }
      }
    }

    .calendar__save__btn {
      position: absolute;
      top: 2em;
      right: 0;
      transform: translateX(-50%);
    }
  }
}
.save__modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgba(0, 0, 0, 0.9);
  .save__modal__content {
    width: 50%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #979797;
    color: white;
  }
}
