.acbook__list {
  margin-left: auto;
  .acbook {
    background-color: #f9e000;
    height: 200px;
    width: 340px;
    margin: 20px 0px 20px 0px;
    border: 1px solid tranparent;
    border-radius: 25px;
    padding: 16px;
    transition-duration: 0.3s;
    transform: translateX(20%);
    &:hover {
      transform: translateX(5%);
      transition-duration: 0.3s;
      transition-timing-function: ease, ease;
    }
  }
}
