@use '../../../styles/values' as *;
@use '../../../styles/mixins' as *;

.menubar__header {
  background-color: $light-black;
  width: 100%;
  height: 20%;
  padding: 1.5em 0;
  z-index: 2;
  .menubar__buttons {
    display: flex;
    justify-content: center;
    gap: 3em;

    .menubar__navBtn {
      @include buttonDefaultSetting;

      text-align: center;
      line-height: 1.5em;
      width: 1.5em;
      height: 1.5em;
      background-color: transparent;
      color: #3e3e3e;
      font-size: 2em;
      box-shadow: $noSelectedBoxShadow;

      &.checked {
        box-shadow: $selectedBoxShadow;
        text-shadow: $selectedTextShadow;
        color: white;
      }
    }
  }

  .menubar__ctrBox {
    margin-top: 1.5em;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 2em;
    font-weight: 900;
    color: white;
    text-shadow: $selectedTextShadow;

    .btn-cal {
      @include buttonDefaultSetting;
      position: relative;
      float: left;
      width: 25px;
      height: 25px;
      margin-top: 5px;
      font-size: 16px;
      background: none;
      font-weight: 900;
      color: white;
      text-shadow: $selectedTextShadow;
    }
    .btn-cal:after {
      content: '<';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 25px;
      font-weight: bold;
      font-size: 20px;
    }
    .btn-cal.next {
      float: right;
    }
    .btn-cal.next:after {
      content: '>';
    }

    .year-month {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
