@use '../../../styles/values' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/mediaQuery' as *;

.calendar-container {
  width: 100%;

  // height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;

  .my-calendar {
    width: 100%;

    text-align: center;
    font-weight: 800;
    display: flex;
    justify-content: center;
    cursor: default;

    .calendar-box {
      width: 60%;

      .cal-table {
        width: 100%;

        th {
          width: 14.2857%;
          padding: 1rem 0;
          font-size: 1rem;
          font-weight: 900;
          color: $white;

          &.sunday {
            color: $spending-color;
          }
        }
      }
    }
    @include mobile {
      .calendar-box {
        width: 100%;
      }
    }
  }
}
