.calendar-container {
  position: fixed;
  top: 10em;
  left: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  .my-calendar {
    width: 100%;
    margin: 30px;
    padding: 20px 20px 10px;
    text-align: center;
    font-weight: 800;
    display: flex;
    justify-content: center;
    cursor: default;

    .calendar-box {
      width: 70%;

      .cal-table {
        margin-top: 5em;
        width: 100%;
        th {
          width: 14.2857%;
          padding-bottom: 5px;
          font-size: 16px;
          font-weight: 900;
        }
        td {
          padding: 3px 0;
          height: 80px;
          font-size: 15px;
          vertical-align: middle;
        }
        .day {
          position: relative;
          cursor: pointer;
          &:hover {
            animation: dateHover 1s;
          }
          @keyframes dateHover {
            from {
              transform: rotate(0);
            }
            to {
              transform: rotate(360deg);
              transform-origin: 40% 50%;
            }
          }
        }
        .today {
          background: rgb(235, 109, 109);
          animation: todayColor 1.5s;
          width: 40px;
          height: 40px;
          margin-left: 50%;
          transform: translateX(-50%);
          line-height: 40px;
          border-radius: 50%;
          color: white;
        }

        @keyframes todayColor {
          from {
            transform: translate(-50px);
            background: white;
          }
        }

        .has-event:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 4px;
          background: #ffc107;
        }
      }
    }

    .detail__overlay {
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.9);
      &.hidden {
        display: none;
      }
      .clicked-date {
        position: absolute;
        border-radius: 25px;
        margin-top: 36px;
        float: right;
        width: 20%;
        padding: 46px 0 26px;
        background-color: lightgrey;
        .cal-day {
          font-size: 2em;
        }

        .cal-date {
          font-size: 3em;
        }
      }
    }
  }
}
