@use '../../styles/values' as *;
@use '../../styles/mixins' as *;

.calendar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .my-calendar {
    width: 100%;

    text-align: center;
    font-weight: 800;
    display: flex;
    justify-content: center;
    cursor: default;

    .calendar-box {
      width: 70%;

      .cal-table {
        margin-top: 5em;
        width: 100%;
        th {
          width: 14.2857%;
          padding-bottom: 5px;
          font-size: 16px;
          font-weight: 900;
        }
        td {
          padding: 3px 0;
          height: 80px;
          font-size: 15px;
          vertical-align: middle;
        }
        .day {
          position: relative;
          cursor: pointer;
          &:hover {
            animation: dateHover 1s;
          }
          @keyframes dateHover {
            from {
              transform: rotate(0);
            }
            to {
              transform: rotate(360deg);
              transform-origin: 40% 50%;
            }
          }
        }
        .today {
          background: rgb(235, 109, 109);
          animation: todayColor 1.5s;
          width: 40px;
          height: 40px;
          margin-left: 50%;
          transform: translateX(-50%);
          line-height: 40px;
          border-radius: 50%;
          color: $white;
        }

        @keyframes todayColor {
          from {
            transform: translate(-50px);
            background: $white;
          }
        }

        .has-event:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 4px;
          background: #ffc107;
        }
      }
    }

    .detail-info-overlay {
      position: absolute;
      width: 100%;
      height: 80%;
      background-color: $modal-background;
      display: flex;
      justify-content: center;

      &.hidden {
        display: none;
      }

      .clicked-date {
        position: absolute;
        border-radius: $basic-border-radius;
        width: 50em;
        height: 35em;
        background-color: $light-grey;
        padding: 2em 0;
        margin-top: 5%;
        overflow-y: scroll;
        scroll-behavior: smooth;

        .cal-date-info {
          display: flex;
          gap: 1em;
          font-size: 1.5em;
          justify-content: center;
          .cal-year,
          .cal-month,
          .cal-date {
            display: inline-block;
          }
        }
        .cal-transition {
          margin-top: 2em;
        }
      }
    }
  }
}
