@mixin calendar-total($type) {
  width: 22%;
  text-align: center;
  border-radius: 50px;
  padding: 1em 5em;
  @if $type== income {
    border: 1.5px solid #54aafc;
    color: #54aafc;
  } @else {
    border: 1.5px solid #ee4337;
    color: #ee4337;
  }
}

.calendar__total__price {
  position: absolute;
  width: 100%;
  top: 25%;
  display: flex;
  justify-content: center;
  gap: 5em;

  .calendar__income__total {
    @include calendar-total(income);
  }
  .calendar__spending__total {
    @include calendar-total(spending);
  }
}
