@use '../../../styles/defaultCards' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/values' as *;

.new__method__wrapper {
  bottom: 1px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  z-index: 3;

  @include default-card;

  .new__method__scene {
    border: 1px solid $white;
    margin: 40px 0;
    position: relative;
    width: 210px;
    height: 140px;
    margin: 80px auto;
    perspective: 1000px;
  }

  .new__method__carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  .carousel__cell {
    position: absolute;
    width: 190px;
    height: 120px;
    left: 10px;
    top: 10px;
    border-radius: 6px;
    line-height: 116px;
    font-size: 1.5em;
    font-weight: bold;
    color: $white;
    text-align: center;
    text-shadow: $selectedTextShadow;
    box-shadow: $noSelectedBoxShadow;
    transition: transform 1s, opacity 1s;
    cursor: pointer;
  }

  .new__method__prev__button {
    @include buttonDefaultSetting;
    border: 1px solid $white;
    position: absolute;
    left: -15em;
    bottom: 8rem;
    padding: 0.2em 1em;

    background-color: $modal-button-background;
    color: $white;
  }

  .new__method__next__button {
    @include buttonDefaultSetting;
    border: 1px solid $white;
    position: absolute;
    right: -15em;
    bottom: 8rem;
    padding: 0.2em 1em;
    background-color: $modal-button-background;
    color: $white;
  }
}
