//개수가 고정이기 때문에 특정값을 넣어 관리할 수 있다.

@mixin default-card {
  .carousel__cell:nth-child(1) {
    transform: rotateY(0deg) translateZ(288px);
  }
  .carousel__cell:nth-child(2) {
    transform: rotateY(40deg) translateZ(288px);
  }
  .carousel__cell:nth-child(3) {
    transform: rotateY(80deg) translateZ(288px);
  }
  .carousel__cell:nth-child(4) {
    transform: rotateY(120deg) translateZ(288px);
  }
  .carousel__cell:nth-child(5) {
    transform: rotateY(160deg) translateZ(288px);
  }
  .carousel__cell:nth-child(6) {
    transform: rotateY(200deg) translateZ(288px);
  }
  .carousel__cell:nth-child(7) {
    transform: rotateY(240deg) translateZ(288px);
  }
  .carousel__cell:nth-child(8) {
    transform: rotateY(280deg) translateZ(288px);
  }
  .carousel__cell:nth-child(9) {
    transform: rotateY(320deg) translateZ(288px);
  }
}
