@mixin buttonDefaultSetting {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
}

@mixin input-form {
  padding: 0.5em 1em;

  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  font-size: 1em;
  background-color: #f6f8fa;

  &:focus {
    background-color: #fff;
    border: 1px solid #9ecaed;
    box-shadow: 0 0 1.5em #9ecaed;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
