@use './values.scss' as *;

@mixin buttonDefaultSetting {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
}

@mixin input-form {
  padding: 0.5em 1em;

  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  font-size: 1em;
  background-color: #f6f8fa;

  &:focus {
    background-color: #fff;
    border: 1px solid #9ecaed;
    box-shadow: 0 0 1.5em #9ecaed;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@mixin general-button-design {
  @include buttonDefaultSetting;
  border: 1px solid $white;
  color: $white;
  width: 5em;
  height: 30px;
  background-color: $modal-button-background;
  font-size: 1em;

  &:hover {
    background-color: $light-black;
    text-shadow: $selectedTextShadow;
    box-shadow: $selectedBoxShadow;
  }
}

@mixin large-button-design {
  @include buttonDefaultSetting;
  border: 1px solid $white;
  color: $white;

  background-color: $modal-button-background;

  width: 8em;
  height: 50px;
  font-size: 1em;
  z-index: 4;

  &:hover {
    background-color: $light-black;
    text-shadow: $selectedTextShadow;
    box-shadow: $selectedBoxShadow;
  }
}
