// morphism design - shadow

$noSelectedBoxShadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5), inset 3px 3px 5px;
$selectedBoxShadow: -2px -2px 5px rgba(0, 0, 0, 0.5),
  3px 3px 5px rgba(255, 255, 255, 0.07);
$selectedTextShadow: 0 0 10px rgba(33, 156, 243, 1),
  0 0 10px rgba(33, 156, 243, 1);

// color
$black: black;
$light-black: #222;
$white: white;
$light-grey: lightgrey;
$income-color: #54aafc;
$spending-color: #ee4337;
// modal
$modal-background: rgba(0, 0, 0, 0.9);
$modal-button-background: rgba(0, 0, 0, 0.1);

// border-radius
$basic-border-radius: 6px;
