.transaction__item {
  width: 100%;
  height: 50px;
  background-color: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  color: white;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px dotted rgb(143, 143, 143);
  }

  div {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .transaction__item__category {
    flex: 2;
    span {
      padding: 6px 10px;
      border-radius: 20px;
      border: 1.4px solid white;
      text-shadow: 0 0 10px #64cc9c;
    }
  }
  .transaction__item__description {
    flex: 4;
  }
  .transaction__item__payment {
    flex: 2;
  }
  .transaction__item__cost {
    flex: 2;
    text-align: end;
  }

  .transaction__item__in {
    color: #54aafc;
  }

  .transaction__item__out {
    color: #ee4337;
  }
}
