@use '../../../../styles/values.scss' as *;

.transaction__item {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
  color: $dark-emphasize-font-color;
  cursor: pointer;

  &:hover > .transaction__item__delete__button {
    display: block;
    animation: button__in;
    animation-duration: 0.3s;
    cursor: pointer;
  }
  .transaction__item__delete__button {
    display: none;
    position: absolute;
    right: 10px;
    border: 1px solid $transaction-delete-button-color;
    background-color: $transaction-delete-button-color;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px red;
  }

  &:not(:last-child) {
    border-bottom: 1px dotted $dark-border-color;
  }

  div {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .transaction__item__category {
    flex: 2;
    span {
      padding: 6px 10px;
      border-radius: 20px;
      border: 1.4px solid $dark-emphasize-font-color;
    }
  }
  .transaction__item__description {
    flex: 4;
  }
  .transaction__item__payment {
    flex: 2;
  }
  .transaction__item__cost {
    flex: 2;
    text-align: end;
  }

  .transaction__item__in {
    color: $income-color;
  }

  .transaction__item__out {
    color: $spending-color;
  }
}

@keyframes button__in {
  0% {
    opacity: 0;
    right: -80%;
  }

  100% {
    opacity: 1;
    right: 10px;
  }
}
