.transaction {
  width: 100%;
  height: 50px;
  background-color: #dcdcdc;
  border: 1px dotted black;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  .category {
    width: 20%;
  }
  .description {
    width: 40%;
  }
  .payment {
    width: 20%;
  }
  .cost {
    width: 20%;
    text-align: end;
  }
}
