@use '../../../../styles/mixins' as *;
@use '../../../../styles/values' as *;

.invite__code__box {
  @include settingBox;

  .invite__code__title {
    @include settingTitle;
  }

  .invite__code__desc {
    @include settingDesc;
  }

  .invite__code__content {
    display: flex;
    justify-content: center;
    gap: 15%;

    .get__code__button {
      font-size: 1.5vh;
    }
    .invite__code__content {
      padding-bottom: 1em;
      border-bottom: 1px solid $dark-emphasize-font-color;
      &.hidden {
        display: none;
      }
    }
  }
}
