@use '../../../../styles/mixins.scss' as *;
@use '../../../../styles/values.scss' as *;
.category__input {
  input[type='radio'] {
    display: none;
  }

  label {
    margin-right: 20px;
  }

  input[type='radio'] + span {
    background: none;
    border: 1px solid $dark-border-color;
    border-radius: 6px;
    padding: 10px 10px;
    text-align: center;
    height: 35px;
    line-height: 33px;
    font-weight: 500;
    cursor: pointer;
  }

  input[type='radio'][name='category'] + span:hover {
    background: $transaction-category-hover-color;
    color: #fff;
  }

  input[type='radio'][name='category']:checked + span {
    border: 1px solid $transaction-category-hover-color;
    background: $transaction-selected-item-color;
    color: #fff;
  }

  input[type='radio'][name='type'] + span:hover {
    background: $transaction-modal-spending-category-color;
    color: #fff;
  }

  input[type='radio'][name='type']:checked + span {
    border: 1px solid $transaction-modal-spending-category-color;
    background: $transaction-modal-spending-category-color;
    color: #fff;
  }

  .no__category {
    color: $transaction-modal-spending-category-color;
  }
  .vertical__line {
    border-right: 1px solid $dark-border-color;
    height: 60%;
  }
  .category__input__container {
    padding-left: 23px;
    border-left: 1px solid $dark-border-color;
  }
  .type__input__conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category__input__container,
  .type__input__conatiner {
    flex-wrap: wrap;
    line-height: 55px;
  }
}
