.category__input {
  input[type='radio'] {
    display: none;
  }

  label {
    margin-right: 20px;
  }

  input[type='radio'] + span {
    background: none;
    border: 1px solid #dfdfdf;
    padding: 10px 10px;
    text-align: center;
    height: 35px;
    line-height: 33px;
    font-weight: 500;
    cursor: pointer;
  }

  input[type='radio'] + span:hover {
    background: #5aa4a7;
    color: #fff;
  }

  input[type='radio']:checked + span {
    border: 1px solid #23a3a7;
    background: #23a3a7;
    color: #fff;
  }

  .no__category {
    color: red;
  }
}

#category__input__container {
  flex-wrap: wrap;
  line-height: 55px;
}
