@use '../../../../styles/values'as *;
@use '../../../../styles/mixins'as *;

.csv__export__box {
  @include settingBox;

  .csv__export__title {
    @include settingTitle;
    &.light {
      text-shadow: none;
    }
  }
  .csv__export__desc {
    @include settingDesc;
  }
  .csv__export__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &.light {
    color: $black;
  }
}
