.NaverLoginButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1ec800;
  color: white;
  box-shadow: 0 0 5px 1px grey;
  width: 300px;
  height: 60px;
  border: none;

  .N-logo {
    font-weight: 900;
    font-size: 35px;
  }

  .divider {
    height: 100%;
    box-shadow: 0 0 1px 0.2px white;
  }

  .button-text {
    font-weight: 700;
    font-size: 20px;
  }
}
