@use '../../../styles/values.scss' as *;
@use '../../../styles/mixins.scss' as *;

@mixin categoryUnit {
  height: 5vh;
  line-height: 5vh;
  border: 1px solid $dark-border-color;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $light-black;
    text-shadow: $selectedTextShadow;
  }
}

@mixin categorySettingBox {
  @include settingBox;
  .category__title {
    font-size: 1.5em;
    padding: 1em;
    text-shadow: $selectedTextShadow;
  }
  .category__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;

    .category__unit {
      @include categoryUnit;
      width: 10vw;
    }

    .category__unit__add {
      @include categoryUnit;
      .fas.fa-plus-circle {
        color: $white;
        width: 7vw;
      }
    }
  }
}

.category__setting__container {
  @include settingContainer;

  .income__category__setting {
    @include categorySettingBox;
  }
  .spending__category__setting {
    @include categorySettingBox;
  }
}
