@use '../../../styles/values' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/mediaQuery' as *;

@mixin themeButton($mode) {
  @include buttonDefaultSetting;
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  background-color: transparent;
  color: $dark-font-color;
  font-size: 1.5rem;

  &:hover {
    box-shadow: $selectedBoxShadow;
    text-shadow: $selectedTextShadow;
    color: $dark-general-font-color;
  }
  &.checked {
    box-shadow: $selectedBoxShadow;
    text-shadow: $selectedTextShadow;
    color: $dark-general-font-color;
  }
  @if ($mode == light) {
    color: #ffca0a;
    box-shadow: $selectedBoxShadow;

    &:hover {
      box-shadow: $selectedBoxShadow;
      text-shadow: none;
      color: $black;
    }
  }
}

.theme__change__button {
  @include themeButton(dark);

  &.light {
    @include themeButton(light);
  }
}
