@use '../../../styles/values.scss' as *;
@use '../../../styles/mixins.scss' as *;

.transaction__list__container {
  width: 60%;
  height: 100%;
  background-color: $dark-background-color;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
  gap: 1.5em;

  &.light {
    background-color: $light-background-color;
  }
}

.transaction__add__button {
  @include buttonDefaultSetting;
  position: fixed;
  top: 85%;
  right: 50%;

  background-color: transparent;
  height: 60px;
  width: 60px;
  color: $transaction-add-btn-color;

  .icon {
    height: 100%;
    width: 100%;
  }
}
