.container {
  width: 50%;
  height: 850%;
  padding: 10px 5px;
  background-color: white;
  border: 1px dotted #cdcdcd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  overflow-y: auto;

  &:last-child {
    margin-bottom: 5em;
  }
}
