@use '../../../styles/values.scss' as *;
@use '../../../styles/mixins.scss' as *;

.transaction__list__container {
  width: 60%;
  height: 100%;
  padding: 10px 5px;

  background-color: $dark-background-color;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 5em;
  gap: 1.5em;

  &.light {
    background-color: $light-background-color;
  }
}

.transaction__add__button {
  @include buttonDefaultSetting;
  position: sticky;
  bottom: -8%;
  right: 0;

  background-color: transparent;
  height: 60px;
  width: 60px;
  color: $transaction-add-btn-color;

  .icon {
    height: 100%;
    width: 100%;
  }
}
